<html>
  <title>INTO-CPS FMU Builder</title>
  <body>
      <h1>INTO-CPS FMU Builder</h1>
      <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <input type="submit">
      </form>
      {% if download_url %}
      <a href="{{ download_url }}" target="_blank"><h2>Download build</h2></a>
      <div>
        <h3>Build log</h3>
        {{ command_output }}
      </div>
      <a href="{{ download_url }}" target="_blank"><h2>Download build</h2></a>
      {% endif %}
  </body>
</html>
