<html>
<head>
  <title>INTO-CPS FMU Builder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
 
  <body>
    <div class="container">
      <h1>INTO-CPS FMU Builder</h1>
       
      <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <input type="submit" class="btn btn-default btn-sm" value="Upload and Compile">
      </form>

       
      {% if download_url %}
      
       <div >
     <a href="{{ download_url }}" target="_blank" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-download-alt"></span> Download build</a>
      
      
      <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Build log</h3>
  </div>
  <div class="panel-body">
     {{ command_output|linebreaksbr }}
  </div>
</div>
      
      
      <a href="{{ download_url }}" target="_blank" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-download-alt"></span> Download build</a>
      
   </div>   
      {% endif %}
      
     
      <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Disclaimer</h3>
  </div>
  <div class="panel-body">
    Disclaimer: THIS SOFTWARE AVAILABLE ON THE SITE SWENG.AU.DK IS PROVIDED "AS IS" AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL SWENG.AU.DK, THE UNIVERSITY OF AARHUS, OR ANY OF THEIR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
  </div>
</div> </div> 
      
  </body>
</html>






